<header class="header__background">
  <div class="header">
    <a href="" class="header__logo">
      <img class="header__logo-img" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Y_Combinator_logo.svg">
    </a>
    <div class="header__info">
      <a href="/" class="header__title">Hacker News</a>
      <div class="header__navigation">
        <a href="#" routerLink="/not-found">new</a>
        <span class="header__divider">|</span>
        <a href="#" routerLink="/not-found">past</a>
        <span class="header__divider">|</span>
        <a href="#" routerLink="/not-found">comments</a>
        <span class="header__divider">|</span>
        <a href="#" routerLink="/not-found">ask</a>
        <span class="header__divider">|</span>
        <a href="#" routerLink="/not-found">show</a>
        <span class="header__divider">|</span>
        <a href="#" routerLink="/not-found">jobs</a>
        <span class="header__divider">|</span>
        <a href="#" routerLink="/not-found">submit</a>
      </div>
    </div>
  </div>
  <a href="#" routerLink="/not-found">login</a>
</header>