<footer class="footer">
  <div class="footer__navigation">
    <a href="#" routerLink="/not-found">Guidelines</a>
    <span class="footer__divider">|</span>
    <a href="#" routerLink="/not-found">FAQ</a>
    <span class="footer__divider">|</span>
    <a href="#" routerLink="/not-found">Lists</a>
    <span class="footer__divider">|</span>
    <a href="#" routerLink="/not-found">API</a>
    <span class="footer__divider">|</span>
    <a href="#" routerLink="/not-found">Security</a>
    <span class="footer__divider">|</span>
    <a href="#" routerLink="/not-found">Legal</a>
    <span class="footer__divider">|</span>
    <a href="#" routerLink="/not-found">Apply to YC</a>
    <span class="footer__divider">|</span>
    <a href="#" routerLink="/not-found">Contact</a>
  </div>

  <div class="footer__search">
    Search:
    <input type="text">
  </div>
</footer>